html { 
    background: black;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgb(0,0,0) 0%, rgb(52, 134, 255) 20%);
    font-family: 'Google Sans', sans-serif;

    overflow-x: hidden;
}

.container-main {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* изменено на 100vh для занятия всего экрана */
}

.header {
    height: 80px;
}

.page {
    background: url('../assets/gameBackground.png');
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* чтобы контент занимал всю доступную высоту */
    border-radius: 34px 34px 0px 0px;
    background-size: auto;
    background-position: center center;
    position: relative;
    z-index: 1;
    overflow-y: auto; /* разрешение вертикальной прокрутки */
    padding: 20px;
    padding-bottom: 150px;
}

.page::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 34px 34px 0px 0px;
    padding: 4px;
    background: linear-gradient(180deg, rgba(52, 134, 255, 1) 0%, rgba(255, 255, 255, 0) 20%);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#ffffff00 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: subtract;
    z-index: -1;
}
.page::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 34px 34px 0px 0px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    z-index: -1;
}

.page.page-home {
    background: linear-gradient(180deg, rgb(18, 16, 17) 0%, rgb(32, 15, 47) 100%);
}

.header-content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 20px 20px 20px;
    margin-left: 10px;
}

.username {
    color: white;
    font-size: 24px;
    margin-right: auto;
    text-align: start;
}

.page-name {
    color: white;
    font-size: 24px;
    marker-mid: auto;
}

.header-button {
    font-size: 24px;
    border-radius: 15px;
    background-color: rgb(43, 106, 189);
    padding: 10px 10px 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    text-decoration: none;
}

.header-button svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.user-icon {
    color: rgb(70, 70, 124);
    margin-right: 10px;
    font-size: 24px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.15);
    padding: 10px 10px 10px 10px;
}

.user-icon svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.header-item {
    color: white;
    font-size: 24px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.15);
    padding: 10px 10px 10px 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.header-item svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-right: 10px;
}

.game-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.profit-content {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.profit-item {
    color: white;
    font-size: 24px;
    border-radius: 15px;
    background-color: rgba(114, 114, 114, 0.637);
    text-align: center;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.466);
}

.profit-item svg {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-right: 5px;
}

.coins {
    margin-top: 20px;
    font-size: 60px;
    color: white;
}

.coins svg {
    width: 60px;
    height: 60px;
    vertical-align: middle;
    margin-right: 10px;
}

.boost-container {
    height: 80px;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.178);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.466);
    width: 80%;
}

.boost-item {
    color: white;
    font-size: 24px;
    text-align: center;
    position: relative;
    flex: 1;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boost-item svg {
    width: 35px;
    height: 35px;
    vertical-align: middle;
    margin-right: 5px;
    margin-left: 5px;
}

.boost-item::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 100%;
    width: 1px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5); 
    transform: translateY(-50%);
}

.boost-item:last-child::before {
    display: none;
}