{% extends "base.html" %}

{% block title %}Settings{% endblock %} 

{% block content %}

<div class="container-main">
    <div class="header">
        <div class="header-content">
            <span class="page-name">Mine</span>
            <a class="header-button" href="/">{% include 'icons/buttons/close.svg' %}</a>
        </div>
    </div>
    <div class="page page-home">
        <div class="warning-item">
            <div class="warning-icon">
                <img src="../static/assets/icons/buttons/warning.svg" alt="Bitcoin Icon">
            </div>
            <div class="warning-text">
                Mine page<br>
                In progress
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer-content">
            <a class="footer-item" href="/">⚙️<br>Farm</a>
            <a class="footer-item" href="/mine">⚙️<br>Mine</a>
            <a class="footer-item" href="/friends">⚙️<br>Friends</a>
            <a class="footer-item" href="/earn">⚙️<br>Earn</a>
            <a class="footer-item" href="/airdrop">⚙️<br>AirDrop</a>
        </div>
    </div>
</div>
<script src="/static/js/script.js"></script>
{% endblock %}
