{% extends "base.html" %}

{% block title %}Settings{% endblock %} 

{% block content %}

<div class="container-main">
    <div class="header">
        <div class="header-content">
            <span class="page-name">Settings</span>
            <a class="header-button" href="/">◀️</a>
        </div>
    </div>
    <div class="page page-home">
    </div>
    <div class="footer">
        <div class="footer-content">
            <div class="footer-item">⚙️<br>Farm</div>
            <div class="footer-item">⚙️<br>Mine</div>
            <div class="footer-item">⚙️<br>Friends</div>
            <div class="footer-item">⚙️<br>Earn</div>
            <div class="footer-item">⚙️<br>AirDrop</div>
        </div>
    </div>
</div>
<script src="/static/js/script.js"></script>
{% endblock %}
