{% extends "base.html" %}

{% block title %}Main{% endblock %}

{% block content %}

<div class="container-main">
    <div class="header">
        <div class="header-content">
            <span class="user-icon">
                {% include 'icons/buttons/avatar.svg' %}
            </span>
            <span class="username">
                {{ name }}</span>
            <span class="header-item">
                {% include 'icons/buttons/star.svg' %} 
                {{ stars }}</span>
            <span class="header-item">
                {% include 'icons/buttons/ton.svg' %}
                {{ diamonds}}</span>
            <a class="header-button" href="/wallet">
                {% include 'icons/buttons/wallet.svg' %}
            </a>
        </div>
    </div>
    <div class="page">
        <div class="game-content">
            <div class="profit-content">
                <div class="profit-item">Profit for Tab:
                    <br>
                    {% include 'icons/buttons/coin.svg' %} +2</div>
                <div class="profit-item">Coin for APA:<br>25K</div>
                <div class="profit-item">Profit for Taps:<br>
                    {% include 'icons/buttons/coin.svg' %} 
                    53</div>
            </div>
            <div class="coins">
                {% include 'icons/buttons/coin.svg' %}
                <span class="coin-count">999 999</span>
            </div>
            <img src="/static/assets/astronaut.png" class="astronaut" id="clicker-button" alt="Astronaut">
            <div class="boost-container">
                <div class="boost-item">
                    {% include 'icons/buttons/award.svg' %}
                    3/10</div>
                <div class="boost-item">
                    {% include 'icons/buttons/flash.svg' %}
                    1500/1500</div>
                <div class="boost-item">
                    Boost
                    {% include 'icons/buttons/boost.svg' %}
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer-content">
            <a class="footer-item" href="/">⚙️<br>Farm</a>
            <a class="footer-item" href="/mine">⚙️<br>Mine</a>
            <a class="footer-item" href="/friends">⚙️<br>Friends</a>
            <a class="footer-item" href="/earn">⚙️<br>Earn</a>
            <a class="footer-item" href="/airdrop">⚙️<br>AirDrop</a>
        </div>
    </div>
</div>
<script src="/static/js/script.js"></script>


{% endblock %}